<!-- 继承模板 -->
{% extends 'layout.html' %}

<!-- 占位模板的内容 -->
{%block main%}

    <!--路径导航-->
    <ol class="breadcrumb">
        <li><a href="/admin">管理首页</a></li>
        <li class="active">{{otherInfo.otherName}}-开支详情</li>
    </ol>

    <!-- 表格 -->
    <style>
        .bs-callout{
            padding: 20px;
            margin: 20px 0;
            border: 1px solid #eee;
            border-left-width: 5px;
            border-radius: 3px;
        }
    </style>
    <div class="bs-callout bs-callout-info" id="callout-navs-tabs-plugin" style="border-left-color: #1b809e;">
        <h4 style="color: #1b809e;"><span style="color: red;font-size: 24px">{{otherInfo.otherName}} </span> 的开支详情</h4>
        <p class="row">
            <span class="col-sm-3"> 车费：¥{{otherInfo.travelPrice}}元</span>
            <span class="col-sm-3"> 伙食费：¥{{otherInfo.foodPrice}}元</span>
            <span class="col-sm-3"> 其他费用：¥{{otherInfo.otherPrice}}元</span>
            <span class="col-sm-3"> 总共花销：¥{{otherInfo.totalPrice}}元</span>
        </p>
        <p class="row">
            <span class="col-sm-3"> 添加时间：{{otherInfo.updateTime | date('Y-m-d H:i:s', -480, 'CCT')}}</span>
            <span class="col-sm-9"> 说明：{{otherInfo.remark}}</span>
        </p>
    </div>
    <a type="button" href="/other" id="btn" class="btn btn-info" >跳转至开支列表</a>

{%endblock%}